<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LibData.Properties.Settings.SMSGatewayConnectionString"
            connectionString="Data Source=123.30.181.81;Initial Catalog=SMSGateway;Persist Security Info=True;User ID=tuananh;Password=abc@123#"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>