<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="VB2B_SMSSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://vb2b-test.vietinbank.vn:10001/VB2B_SMS.asmx"
                binding="basicHttpBinding" bindingConfiguration="VB2B_SMSSoap"
                contract="ServiceVietinbank.VB2B_SMSSoap" name="VB2B_SMSSoap" />
        </client>
    </system.serviceModel>
</configuration>