<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="GatewaySoap" />
        <binding name="smsapiSoapBinding" />
        <binding name="VB2B_SMSSoap" />
        <binding name="GatewaySoap1" />
        <binding name="BrandNameWSPortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://gateway.vpmedia.vn/Gateway.asmx" binding="basicHttpBinding"
        bindingConfiguration="GatewaySoap" contract="ServiceVPM.GatewaySoap"
        name="GatewaySoap" />
      <endpoint address="http://sms.vnet.vn:8082/api/services/smsapi"
        binding="basicHttpBinding" bindingConfiguration="smsapiSoapBinding"
        contract="ServiceVNet.smsapi" name="smsapi" />
      <endpoint address="http://192.168.6.203:8338/VB2B_SMS.asmx" binding="basicHttpBinding"
        bindingConfiguration="VB2B_SMSSoap" contract="ServiceVietinbank.VB2B_SMSSoap"
        name="VB2B_SMSSoap" />
      <endpoint address="http://gateway.vpmedia.vn/Gateway.asmx" binding="basicHttpBinding"
        bindingConfiguration="GatewaySoap1" contract="ServiceVP.GatewaySoap"
        name="GatewaySoap1" />
      <endpoint address="http://123.29.69.74:8889/WSSMSAdminBR/BrandNameWS"
       binding="basicHttpBinding" bindingConfiguration="BrandNameWSPortBinding"
       contract="ServiceVNTP.BrandNameWS" name="BrandNameWSPort" />
    </client>
  </system.serviceModel>
</configuration>